*{
    box-sizing: border-box;
    font-family: 微軟正黑體;
    border:solid 1px #666;
}
body{
    height: 3000px;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-weight: bold;
}
header.jumbotron{
    background-image: url(http://mmbiz.qpic.cn/mmbiz/5feXIiajDItf8T2YZoxCuVrhFMrVibfeZ8KGD7No9nL7bCUtpviblEmIia4okbL7aHqTNdGd4zWmcO83WfxVNZvibbg/0?wx_fmt=jpeg);
    background-size: cover;
    background-attachment: fixed;  /* 固定圖片不會滾動 */
    text-align: center;
    margin-bottom: 0px;
}
header .container{
    color: white;
    padding: 200px 0;
}
header hr{
    max-width: 50px;
    border: solid 2px orange;
}
header h4{
    color: rgba(white,0.5);
    /* 文字變成半透明 */
    font-weight: normal;
}
#section_ask{
    background-color: orange;
}
.col-sm-5 img{
    height: 350px;
    width: 350px;
    margin-left: 80px;
    mix-blend-mode: multiply;
    /* 顏色效果疊加 */
}
h2{
    margin-top: 130px;
    padding: 0 20px;
}
#section_about img{
    width: 100%;
}
.img_wrap img{
    height: 220px;
    overflow: hidden;
    /* 多出去的部分給隱藏 */
}
#section_story{
    background-color: #222;
    color: white;
    padding: 0;
}
#section_story .col-sm-5{
    background-image: url(https://stutzfamily.com/mrstutz/Maps/USHistory/europe1938.gif);
    background-size: 100% auto;
    height: 400px;
}
#section_story .col-sm-7{
    text-align: center;
}
.col-sm-7 i{
    font-size: 30px;
}
.col-sm-12 .features{
    margin-top: 30px;
    margin-bottom: 30px;
}
.cross{
    position: absolute;
    left: 23%;
    top: 50%;
    color: red;
    font-size: 20px;
    font-weight: bold;
}
section#section_future{
    font-size: 24px;
}
section#section_future img {
    width: 100%;
  }
  section#section_future i {
    font-size: 30px;
  }
  section#section_future .feature {
    padding-top: 10px;
    padding-bottom: 10px;
  }
